name: HACS Validation

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: HACS validation
        uses: hacs/action@main
        with:
          category: integration
